<!-- templates/signup.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Password should be at least 8 characters long and include:</p>
        <ul>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one number</li>
            <li>At least one special character (@, $, !, %, *, ?, &)</li>
        </ul>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
